# Configurações de Segurança e JWT
SECRET_KEY=sua_chave_secreta_super_segura_aqui_troque_em_producao
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Banco de Dados SQLite
DATABASE_URL=sqlite:///./app.db

# Configurações de CORS (Front-end Vite por padrão roda na 5173)
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Notificações do Telegram
TELEGRAM_BOT_TOKEN=seu_bot_token_aqui

